input[type="text"] {
    width: 20%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 10px;
}
input[type="submit"] {
    width: 100px;
    height: 40px;
    margin: 10px 0;
    border: 4px solid lightblue;
    border-radius: 5px;
    background-color: aqua;
    cursor: pointer;
}